/* Header */

.header {
  @apply bg-stone-800 mb-8;
}

.header__block {
  @apply container mx-auto
  py-6
  text-orange-50
  text-lg font-normal
  flex justify-between;
}

.header__logo {
  @apply font-bold;
}

.header__menu {
  @apply flex
  space-x-8 relative;
}

.header__menu li{
  @apply flex items-center relative;
}

.header__menu a, button{
  @apply hover:text-orange-400 font-semibold ease-in duration-100
  flex items-center
  ;
}

/* Cart */

.cart_active{
  @apply text-orange-300;
}

.cart_opened{
  @apply absolute top-12 bg-yellow-50 text-slate-900
  p-10 rounded w-72 shadow-xl shadow-gray-700
  ;
  transform: translateX(-50%);
  left: 50%;
}

/* Header Banner */

.header__banner {
  background: url(../../img/bg.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: multiply;
  height: 500px;

  @apply container mx-auto bg-zinc-500 p-8
  flex flex-col justify-center rounded-lg;
}

.header__banner h1 {
  @apply w-1/2 text-7xl font-bold text-white
  block;
}
.header__banner p {
  @apply text-xl text-white block mt-5;
}
